body{
	background-color: #fff;
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#fon{
	width: 100%;
	height: 0;
}

header{
	background-color: pink;
    display: flex;
    justify-content: center;
	width: 100%;
	height: 20vw;
}
#headerImg{
height: 100%;
overflow: hidden;
}
#container{
	display: flex;
  align-items: center;   
  gap: 2%;
  padding: 1% 0 1% 5%;
	

}
.ava{      
  aspect-ratio: 1 / 1;    
  border-radius: 50%;     
  background: pink;
  overflow: hidden;       
           
}
#mainVideo{
	position: relative;
	display: flex;
	width: 100%;
	height: auto;
	
	column-gap: 10px;
}

img{
	display: block;
	width: auto;
	width: 100%;
	height: auto;
}
.avaImg{
  width: 100%;
  height: 100%;
  object-fit: cover;      
  display: block;
}
#information{
	display: flex;
	align-items: center;
	margin-left: 2%;
	
}
nav{
	position: sticky;
	background-color: white;
	top: 0;
	z-index: 10;
	display: flex;
	width: 100%;
	margin: 5px;
	
}

.elements{
	text-align: center;
	width: 25%;
	padding-bottom: 10px;
	padding-top: 10px;

}



#video video{
	
	width: 100%;
	height: auto;
	display: none;
}
#video iframe{
	
	width: 100%;
	height: 100%;
	display: none;
}

a{
	text-decoration: none;
	color: black;
}
video{
	display: block;
	width: auto;
	width: 100%;
	height: auto;
}
#video{
	display: flex;
	align-items: center;
    justify-content: center;
	width: 80%;
	height: 80%;
	overflow: hidden;
	background-color: blue;
}
#video video:target{
	display:block ;
}
#video iframe:target{
	display:block ;
	border: none;
}
#other{
	width: 20%;
	height:auto;
	

}
iframe{
	width: 100%;
	height: 100%;
}


@media(max-width:768px){
 #mainVideo{
 	display: block;}
 	#video{
 		margin-bottom: 50px;
 	}
 	#video{
 		width: 100%;
 		height: auto;}
 		#other{
 			box-sizing: border-box;
 			padding-left: 10px;
 			padding-right: 10px;
 			width: 100%;
 			height: auto;
 		}
}
@media(max-width:540px){

#information{
	display: none;
}
#fon{
	height: 20vw;
}
#container{
	padding: 0;
	justify-content: center;
	position: absolute;
	z-index: 10;
	top: 17vw;
	
}
.ava{
	width: 60%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
}
