body{
	background-color: #fff;
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#fon{
	width: 100%;
	height: 0;
}

header{
	background-color: pink;
    display: flex;
    justify-content: center;
	width: 100%;
	height: 20vw;
}
#headerImg{
height: 100%;
overflow: hidden;
}
#container{
  display: flex;
  align-items: center;   
  column-gap: 2%;
  padding: 1% 0 1% 5%;
	

}
.ava{                  
  border-radius: 50%;     
  background: pink;
  overflow: hidden;       
           
}
#avaImg{
  width: 100%;
  height: 100%;
  object-fit: cover;      
  display: block;
}
#information{
 	font-family: "Comfortaa", sans-serif;
    font-style: normal; 
	display: flex;
	align-items: center;
	margin-left: 2%;
	
}
nav{
	font-family: "Roboto Condensed", sans-serif;
	font-style: normal;
    font-size: 26px;
	position: sticky;
	background-color: white;
	top: 0;
	z-index: 10;
	display: flex;
	width: 100%;
	margin: 5px;
	
}

.elements{
	text-align: center;
	width: 25%;
	padding-bottom: 10px;
	padding-top: 10px;

}
main{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, minmax(120px, 1fr));
	grid-auto-rows: auto;
	box-sizing: border-box;
	grid-row-gap: 2%;
	grid-column-gap: 2%;
	padding: 0 3% 0 3%;
}
.poster{
	overflow: hidden;
	width: 100%;
    
	background-color: #555;
	box-sizing: border-box;
	border-radius: 20px;
}
.items{
	width: 100%;
}
.description{
	width: 100%;
	height: 50px;
	text-align: center;
}
a{
	text-decoration: none;
	color: black;
}
video{
	display: block;
    object-fit: cover;
    height: 100%;
	width: 100%;
	
}

img{
	display: block;
	width: auto;
	width: 100%;
	height: auto;
}


@media(max-width:540px){

#information{
	display: none;
}
#fon{
	height: 15vw;
}
#container{
	padding: 0;
	justify-content: center;
	position: absolute;
	z-index: 10;
	top: 17vw;
	
}
.ava{
	width: 60%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
}
