body{
	background-color: #fff;
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#fon{
	width: 100%;
	height: 0;
}

header{
	background-color: pink;
    display: flex;
    justify-content: center;
	width: 100%;
	height: 20vw;
}
#headerImg{
height: 100%;
overflow: hidden;
}
#container{
	display: flex;
  align-items: center;   
  column-gap: 2%;
  padding: 1% 0 1% 5%;
	

}
.ava{
	border-radius: 50%;     
  background: pink;
  overflow: hidden;       
   
}
 .ava_notations{ 
  width: 30px;        
  border-radius: 50%;
  margin-right:5% ;     
  background: pink;
  overflow: hidden;       
           
}

.avaImg{
  width: 100%;
  height: 100%;
  object-fit: cover;      
  display: block;
}
#information{
    font-family: "Comfortaa", sans-serif;
    font-style: normal; 
	display: flex;
	align-items: center;
	margin-left: 2%;
	
}
nav{
    font-family: "Roboto Condensed", sans-serif;
	font-style: normal;
    font-size: 26px;
	position: sticky;
	background-color: white;
	top: 0;
	z-index: 10;
	display: flex;
	width: 100%;
	margin: 5px;
	
}

.elements{
	text-align: center;
	width: 25%;
	padding-bottom: 10px;
	padding-top: 10px;

}
a{
	text-decoration: none;
	color: black;
}
.ava_name{
	display: flex;
	align-items: center;
}
.notations{
	width: 80%;
    margin-bottom:10px;
	border: 2px solid gray;
	border-radius: 20px;
	padding-right:1% ;
	padding-left:1% ;
	padding-bottom:2% ;
}
.link{
	text-decoration: underline;
	color: blue;
}
#mainNotations{
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction:column;
}
.nameChannel{
	display: flex;
}
.text{
	width: 100%;
}
h5{
	white-space: nowrap;
	font-size: 16px;
}
@media(max-width:540px){
	main{
		grid-template-columns: minmax(120px, 1fr);
	}
#information{
	display: none;
}
#fon{
	height: 20vw;
}
#container{
	padding: 0;
	justify-content: center;
	position: absolute;
	z-index: 10;
	top: 17vw;
	
}
.ava{
	width: 60%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
}
